{% extends 'main/base.html' %}
{% block title %} Edit profile  {% endblock %}
{% block content %}
<form method="POST" enctype="multipart/form-data" action="{% url 'account:edit_profile' user_id=profile_id %}">
    {% csrf_token %}
    
    <section id="" class="profile">
        <div class="container m-5">
            <div class="container bootstrap snippets bootdey">
                <div class="row">
                  <div class="profile-nav col-md-3">
                      <div class="panel">
                          <div class="user-heading round">
                           {% with profile_user.education.all|first as education %}
                              <a href="#">
                                 <img src="{{ profile_user.profile_picture.url }}" style="width: 150px;" alt="Profile Picture">
                                                                </a>
                                                                <h1>{% if profile_user.first_name %}{{ profile_user.first_name }} {{ profile_user.last_name }}{% else %} {{ profile_user.username }} {% endif %}</h1>
                                                                <p>{{ profile_user.email }}</p>
                          </div>
                                    </ul>
                      </div>
                    </div>
                        <div class="profile-info col-md-9">
                            
                            <div class="panel">
                                <div class="bio-graph-heading">
                                <textarea name="bio" style="width: 100%;">{{ profile_user.bio }}</textarea>
                                </div>
                        <div class="panel-body bio-graph-info p-5">
                        <h1>University:<input type="text" class="form-control" name="university_name" value="{{ education.university_name }}"/></h1>
                        <div class="row">
                        <div class="bio-row">
                            <p><span>First Name </span>:<input type="text" class="form-control" name="first_name" value="{{ profile_user.first_name }}"/></p>
                        </div>
                        <div class="bio-row">
                            <p><span>Last Name: </span> <input type="text" class="form-control" name="last_name" value="{{ profile_user.last_name }}"/></p>
                            
                            </div>
                        <div class="bio-row">
                        <p><span>Email: </span> <input type="text" class="form-control" name="email" value="{{ profile_user.email }}"/></p>
                        </div>
                        <div class="bio-row">
                        <p><span>Skills </span>
                                {{ education_form.skills }}
                                </p>
                        </div>
                        <div class="bio-row">
                        <p><span>Major </span>: <input type="text" class="form-control" name="major" value="{{ education.major }}"/> </p>
                        </div>
                        <div class="bio-row">
                            <p><span>Degree </span>: <input type="text" class="form-control" name="degree" value="{{ education.degree }}"/> </p>
                            </div>
                            <div class="bio-row">
                                <p><span>Academic Rank </span>: <input type="text" class="form-control" name="academic_rank" value="{{ education.academic_rank }}"/> </p>
                                </div>
                        <button type="submit">Update</button>
                        </div>
                        </div>
                        </div>
                        <div>
                        {% endwith %}
                      
                        <div class="row">
                        
                        <div class="col-md-6 panel-body ps-0 pe-0 m-3">
                            
                            <div class="panel">
                                <div class="panel p-2 text-light" style="  background-color: #00428a"> 
                                    <h5 class="  ">Experience</h5>

                                </div>
                                <div class="">
                                
                                    <div class="bio-chart p-4">
                                        <h6>Experience 1</h6>

                                    </div>
                                    <div class="bio-desk p-3">
                                        <p> <textarea class="form-control" > ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</textarea> .</p>
                                    </div>
                                </div>
                                <div class="">
                                
                                    <div class="bio-chart p-4">
                                        <h6>Experience 2</h6>

                                    </div>
                                    <div class="bio-desk p-3">
                                        <p> <textarea class="form-control" > ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</textarea> .</p>

                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="col-md-5 panel-body ps-0 pe-0 m-3">
                            
                            <div class="panel">
                                <div class="panel p-2 text-light" style="  background-color: #00428a"> 
                                    <h5 class="  ">Courses </h5>

                                </div>
                                <div class="">
                                
                                    <div class="bio-chart p-4">
                                        <h6>Courses list: </h6>

                                    </div>
                                    <div class="bio-desk p-3">
                                        <p> <textarea class="form-control" > ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</textarea> .</p>
                                        <p> <textarea class="form-control" > ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</textarea> .</p>
                                        <p> <textarea class="form-control" > ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</textarea> .</p>

                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>

                        </div>
                        
                        </section>
                    </form>
                        
                        {%endblock%}

                        {% comment %} <h1>{{ profile_user.username }}</h1>
                        {% with profile_user.education.all|first as education %}
                        <img src="{{ education.profile_picture.url }}" style="width: 150px;" alt="Profile Picture">
                        <p>Employee Number: {{ profile_user.employee_number }}</p>
                        <p>Email: {{ profile_user.email }}</p>
                        <p>Skills: {{ profile_user.skills }}</p>
                        <p>University: {{ education.university_name }}</p>
                        <p>Major: {{ education.major }}</p>
                        <p>Degree: {{ education.degree }}</p>
                        <p>Academic Rank: {{ education.academic_rank }}</p>
                        {% endwith %}
                        {% if user.username == profile_user.username %}
                        <a href="{% url 'account:logout' %}">Logout</a>
                        {% endif %} {% endcomment %}


                        


