<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Users</h1>
    <ul>
        {% for user in users %}
            <li>
                 {% with user.education.all|first as education  %}
                <h2>{{ user.username }}</h2>
                <img src="{{ education.profile_picture.url }}" alt="Profile Picture">
                <p>Employee Number: {{ user.employee_number }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Skills: {{ user.skills }}</p>
                <p>University: {{ education.university_name }}</p>
                <p>Major: {{ education.major }}</p>
                <p>Degree: {{ education.degree }}</p>
                <p>Academic Rank: {{ education.academic_rank }}</p>
                {% endwith %}
            </li>
            <a href="{% url 'account:logout' %}">Logout</a>
        {% endfor %}
    </ul>
</body>
</html>