<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    {% if user.is_superuser %}
    <h2>Managers Page ({{ user.username }})</h2>
    <h1>Users</h1>
    <ul>
        {% for employee in users %}
        <li style="float: left; margin: 10px;">
            {% with employee.education.all|first as education  %}
            <h2>{{ employee.username }}</h2>
            <img src="{{ education.profile_picture.url }}" style="width: 70px;" alt="Profile Picture">
            <p>Employee Number: {{ employee.employee_number }}</p>
            <p>Email: {{ employee.email }}</p>
            <p>Skills:</p>
            <ul>
                {% for skill in employee.skills.all %}
                <li>{{ skill.name }}</li>
                {% endfor %}
            </ul>
            <p>University: {{ education.university_name }}</p>
            <p>Major: {{ education.major }}</p>
            <p>Degree: {{ education.degree }}</p>
            <p>Academic Rank: {{ education.academic_rank }}</p>
            <a href="/evaluation/tasks/create?assigned_to={{employee.id}}">Assign Task</a>
            <a href="{% url 'account:user_profile' user_id=employee.id  %}">View Profile</a>
            {% endwith %}
            {% if user.username == employee.username %}
            <a href="{% url 'account:logout' %}">Logout</a>
            {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h2>You are not Allowed Here.</h2>
        <p>Visit The <a href="{% url 'evaluation:task_list' %}">tasks</a> Page if you want</p>
        {% endif %}
</body>
</html>